MONGO_URI=mongodb://mongo:27017
MONGO_DATABASE_NAME=marketplace_etl

MOCK_SOURCE_API_URL=http://external-api-example:8080

SOURCE_PRODUCT_BACKEND=mysql
SOURCE_SQLITE_PATH=./data/sqlite_source/marketplace_source.db

SOURCE_MYSQL_HOST=mysql
SOURCE_MYSQL_PORT=3306
SOURCE_MYSQL_USER=source
SOURCE_MYSQL_PASSWORD=source
SOURCE_MYSQL_DATABASE=marketplace_source

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres

TARGET_DB_HOST=postgres
TARGET_DB_PORT=5432
TARGET_DB_USER=postgres
TARGET_DB_PASSWORD=postgres
TARGET_DB_DEFAULT_DATABASE=postgres

TARGET_DB_BACKEND=postgres
TARGET_DB_SQLITE_BASE_PATH=./data/sqlite

APP_SELLERS_TO_RUN=
APP_ENTITIES_TO_RUN=order,product,traffic
APP_SYNC_TYPE=all
APP_PERIODS_TO_RUN=2024-06-01,2024-06-30
IS_DEBUG=false
MAX_RUNNER_EXECUTIONS=5
